/* LinkedList.css */
.linked-list {
  margin: 20px auto;
  text-align: center;
}

.controls {
  margin-bottom: 20px;
}

.controls .input-field {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.controls .btn {
  margin-right: 5px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.node-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.node {
  position: relative;
  display: flex;
  align-items: center;
  padding: 20px;
  margin: 0 10px;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.value {
  color:  #fff; /* Color for value */
  margin-right: 10px; /* Space between value and line */
}

.line {
  width: 2px; /* Width of the line */
  height: 100%; /* Height of the line */
  background-color: #fff; /* Color of the line */
  margin: 0 10px; /* Space between value and address */
}

.address {
  color: #fff; /* Color for address */
  font-style: italic; /* Italicize the address */
}
